# Python
__pycache__/
*.pyc

# Virtual Environment
tldw_ai/

# Environment Variables
.env

#storage
backend/storage/
backend/tmp/

# Chroma
backend/storage/chroma/
backend/tmp/chroma/

# Cache
backend/storage/cache/
backend/tmp/cache/

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/

*.crx
*.pem