# Python
__pycache__/
*.pyc

# Virtual Environment
tldw_ai/

# Environment Variables
.env

#storage
backend/storage/

# Chroma
backend/storage/chroma/

# Cache
backend/storage/cache/

# VS Code
.vscode/

# Logs
*.log

# Pytest
.pytest_cache/

# Jupyter
.ipynb_checkpoints/